*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    align-items: center;

}
body{
    background-color: black;
}
div.main{
    width: 400px;
    margin:  100px auto 0 auto;
}
h1{
    text-align: center;
    padding: 28px;
    font-family: sans-serif;
}
div.register{
    font-size: 20px;
    color: #fff;
}
label{
    font-family: sans-serif;
    font-size: 20px;
    font-style: inherit;
}